html,
body,
ul,
li,
button,
input,
p,
textarea,
h1,
h2,
h3,
h4,
h5, {
  font-family: 'Inter', sans-serif;
  color: $font-primary;
  line-height: 116%;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 32px;
}

h1,
h2 {
  font-weight: 600;
}

::selection {
  background: $selection-color;
}
