$container-width: 1193px;
$container-padding-laptop: 60px;

//colors
$primary: #ff8b37;
$button-color: $primary;
$button-color-hover: #ffac70;
$button-color-active: #e87928;
$selection-color: #ff8b37;
$triangle-bg-color: #fff3eb;
$questions-bg-color: #f5f5f5;
