.btn-default {
  width: 296px;
  height: 64px;
  background: $button-color;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  box-sizing: border-box;

  &:hover {
    background: $button-color-hover;
    cursor: pointer;
  }

  &:active {
    background: $button-color-active;
  }

  &:focus {
    outline: none;
  }
}

