.answers {
  height: 176px;
  max-width: 810px;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: $tablets-portrait-breakpoint) {
    height: 350px;
    flex-direction: column;
    justify-content: space-between;
  }

  @media screen and (max-width: $phones-medium-breakpoint) {
    height: 290px;
  }

  @media screen and (max-width: $phones-old-breakpoint) {
    height: 250px;
  }
}

.answer {
  position: relative;
  width: 50%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/answer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;

  @media screen and (max-width: $tablets-portrait-breakpoint) {
    width: 100%;
  }

  @media screen and (max-width: $phones-medium-breakpoint) {
    height: 60px;
  }

  @media screen and (max-width: $phones-old-breakpoint) {
    height: 50px;
  }

  &:hover {
    background-image: url("../assets/images/answer--hover.png");
  }

  &__info {
    width: 80%;
    display: flex;
    align-items: center;
  }

  &__letter {
    margin-right: 8px;
    color: $primary;
    user-select: none;
  }

  &__body {
    user-select: none;

    @media screen and (max-width: $phones-old-breakpoint) {
      font-size: 14px;
    }
  }
}

.answer--selected {
  @extend .answer;
  background-image: url("../assets/images/answer--selected.png");

  &:hover {
    background-image: url("../assets/images/answer--selected.png");
  }
}

.answer--wrong {
  @extend .answer;
  background-image: url("../assets/images/answer--wrong.png");

  &:hover {
    background-image: url("../assets/images/answer--wrong.png");
  }
}

.answer--correct {
  @extend .answer;
  background-image: url("../assets/images/answer--correct.png");

  &:hover {
    background-image: url("../assets/images/answer--correct.png");
  }
}
