.winnings {
  width: 27%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $tablets-landscape-breakpoint) {
    width: 33%;
  }

  @media screen and (max-width: $phones-big-breakpoint) {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateX(100%);
    transition: transform 0.4s;
    background: $questions-bg-color;
    overflow-y: hidden;
    z-index: 2;
  }

  &--opened {
    transform: translateX(0);
  }

  &__list {
    width: 376px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $phones-big-breakpoint) {
      width: 100%;
    }
  }

  &__item {
    height: 40px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../assets/images/winning-frame.png") no-repeat;
    background-size: 100% 100%;

    @media screen and (max-width: $phones-big-breakpoint) {
      height: 60px;
      margin-bottom: 11px;
      font-size: 18px;
    }

    @media screen and (max-width: $phones-medium-breakpoint) {
      height: 40px;
      font-size: 16px;
    }

    @media screen and (max-width: $phones-old-breakpoint) {
      height: 30px;
      font-size: 14px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item--active {
    @extend .winnings__item;
    background: url("../assets/images/winning-frame--active.png") no-repeat;
    background-size: 100% 100%;
  }

  &__item--passed {
    color: $font-secondary;
  }
}
